/**
 * SCSS File	: _grid.scss
 * SCSS Dir 	: setup
 * Author		: Kevan Stuart
 * -------------------------------------------------------------------------------------*/


$grid-four: (
	columns:4,
  	gutter:1rem,
);